html{
  height:100%;
}
body {
  background: #111;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100%;
}

header {
  height: 10%;
  background: #222;
}

button {
  padding: 8px 14px;
  margin: 5px;
  font-size: 14px;
  cursor: pointer;
}

#fileInput{
  cursor: pointer;
}

#viewer {
  position: relative;
  height: 70%;
  overflow: hidden;
  background: #000;
}

/* Falling notes */
.note {
  position: absolute;
  border-radius: 10px;
  background: cyan;
}


/* Piano */
#piano {
  display: flex;
  height: 20%;
  background: #775904;
  user-select: none;
}

.key {
  border: 1px solid #000;
  position:absolute;
}

.white {
  width: 1.92%;
  background: white;
  height: 50%;
  z-index: 1;
}

.black {
  height: 70%;
  background: black;
  right: -13px;
  z-index: 2;
}